// --------------------------------------------
//   BUTTON - stylings for '<button>' element
// --------------------------------------------
button {
  @include typography(text-primary, regular, medium, $family: $font-family-base);
  @include transition(background-color, border-color, opacity);
  border: 1px solid transparent;
  border-radius: $border-radius-base;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
