<header>
  <a routerLink="/post/{{ post?.id }}" class="post-card__title">{{ post?.title }}</a>
  <span>{{ post?.user?.name }} (#{{ post?.user?.username }})</span>
</header>

<p class="post-card__body">{{ post?.body }}</p>

<footer>
  <button (click)="toggleComments()" [class.button--active]="showComments" class="button button--secondary">
    Comments ({{ post?.comments?.length }})
  </button>

  <ng-container *ngIf="showComments">
    <q-comments [comments]="post?.comments || []"></q-comments>
    <q-comment-form (commentCreate)="onNewComment($event)"></q-comment-form>
  </ng-container>
</footer>
