// =====================================
//   ROOT - stylings for root elements
// =====================================

// ---------------------------------
//   BOX MODEL - defines box model
// ---------------------------------
*,
::after,
::before {
  box-sizing: border-box;
}

// ----------------------------------------------------
//   HTML - default stylings for :root/<html> element
// ----------------------------------------------------
:root {
  scroll-behavior: smooth;

  // for Google Fonts
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ----------------------------------------------
//   BODY - default stylings for <body> element
// ----------------------------------------------
body {
  @include flex(column);
  @include typography(text-primary, medium, regular, regular, $font-family-base);
  @include media(sm) {
    font-size: font-size(regular);
  }
  margin: 0;
  background-color: color(background);
  overflow: hidden;
}

// ----------------------------------------------
//   MAIN - default stylings for <main> element
// ----------------------------------------------
main {
  @include flex(column, $gsb: 1 0 0);
}
