// -----------------------------------------
//   BUTTON - stylings for '.button' class
// -----------------------------------------
.button {
  $self: &;

  @include flex($align: center);
  @include typography(text-primary, medium);
  min-width: 32px;
  min-height: 32px;
  padding: 0 $spacing-3x;
  border-radius: $border-radius-base;
  cursor: pointer;

  &-group {
    @include flex($align: center);

    & > #{$self} {
      &:not(:last-of-type) {
        margin-right: $spacing-2x;
      }
    }
  }

  &--primary {
    background: linear-gradient(90deg, color(primary), color(secondary));
  }

  &--secondary {
    color: color(text-secondary);

    &:hover,
    &#{$self}--active {
      background-color: color(background);
    }
  }
}
