@import '00_helpers/helpers';

:host {
  @include flex(column);
}

.posts {
  &__search {
    margin-top: $spacing-4x;
  }

  &__list {
    height: calc(100vh - 115px);
    margin: $spacing-4x -#{$spacing-3x};
  }
}
