<header class="posts__search">
  <label for="search">
    <input
      [(ngModel)]="search"
      type="search"
      name="search"
      id="search"
      placeholder="Search posts by user name/username..."
    />
  </label>
</header>

<cdk-virtual-scroll-viewport [itemSize]="200" class="posts__list hide-scrollbar">
  <app-post-card
    *cdkVirtualFor="let post of posts$ | async | search: search:['user.name', 'user.username']; trackBy: trackById"
    [post]="post"
  ></app-post-card>
</cdk-virtual-scroll-viewport>
