@import '00_helpers/helpers';

:host {
  @include flex(column);
}

.posts {
  &__search {
    margin-top: $spacing-4x;
  }

  &__list {
    margin-top: $spacing-4x;
    margin-bottom: $spacing-20x;
  }
}
