@import '00_helpers/helpers';

:host {
  @include flex(column);
  @include transition(transform, box-shadow);
  padding: $spacing-5x;
  margin: $spacing-3x;
  background-color: color(white);
  border-radius: $border-radius-base;

  &:hover {
    transform: translateY(-#{$spacing-base});
    box-shadow: $box-shadow-base;
  }
}

.post-card {
  &__title {
    @include typography($size: large, $weight: bold);
    display: block;
    margin: 0 0 $spacing-3x;
  }

  &__body {
    color: color(text-secondary);
    white-space: pre-wrap;

    &--truncate {
      @include truncate();
    }
  }
}
